.containerBack{
    background-image: url('https://fondosmil.com/fondo/17024.jpg');
    background-size: cover;
    text-align: center;
}

.containerLoader{
    display: flex;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.32);
    align-content: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    height: 99.7vh;
}

.cargando{
    font-size: xx-large;
    text-shadow: 4px 4px 4px rgb(27, 27, 27);
    color:rgb(82, 183, 241);
}

.sabias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fefae0;
    text-shadow: 7px 7px 7px rgb(2, 2, 2);
    backdrop-filter: blur(19px);
    height: 400px;
}

.loader{
    display: flex;
    justify-content: center;
}